USE [DB_SRC]
GO

-- RECALCULATE ACCRUALS FOR A LIST OF EMPLOYEES

CREATE TABLE #EMPLOYEES (ID INT)
INSERT INTO #EMPLOYEES VALUES (22),(81),(91)

DECLARE @EmployeeId INT
DECLARE bCursor CURSOR FOR 
SELECT ID FROM #EMPLOYEES

OPEN bCursor
FETCH NEXT FROM bCursor INTO @EmployeeId
WHILE @@FETCH_STATUS = 0
BEGIN
	PRINT @EmployeeId
	EXEC [dbo].[AddAccruals] @EmployeeId, 123
	FETCH NEXT FROM bCursor INTO @EmployeeId
END

CLOSE bCursor
DEALLOCATE bCursor
DROP TABLE #EMPLOYEES

GO
